.main
  .container
    %h1 Frequently Asked Questions
    %a{:name=>'top'}
    %ul
      - @faqs.each do |faq|
        %li
          %a{:href=> faq[:slug]}=faq[:question]
    - @faqs.each do |faq|
      .faq
        %a{:name=> faq[:slug]}
        %h3= faq[:question]
        %p= faq[:answer]
        %p
          %a{:href=>'#top'} top
