.main
  .container
    %h1#tasks-header All Tasks
    .pull-right
      %a.btn.btn-info{:href=>new_project_task_path} New Task
    %table.table
      %thead
        %th Description
        %th Due Date
      - @tasks.each do |task|
        %tr
          %td
            =link_to task[:description], project_task_path(@project, task)
          %td
            =task.due_date
          %td.text-right
            %a.btn.btn-info{:href=>edit_project_task_path(@project, task)} Edit
            =link_to "Delete", project_task_path(@project, task), method: :delete, :class=>'btn btn-danger'
