.main
  .container
    %h1#tasks-header All Tasks
    .pull-right
      %a.btn.btn-info{:href=>new_task_path} New Task
    %table.table
      - @tasks.each do |task|
        %tr
          %td
            %a{:href=>task_path(task)}=task[:description]
          %td.text-right
            %a.btn.btn-info{:href=>edit_task_path(task)} Edit
            =link_to "Delete", task_path(task), method: :delete, :class=>'btn btn-danger'
