.main
  .container
    %h1 Task
    -if notice
      %p.alert.alert-success= notice
    %p= @task.description
    %p
      %a{:href=>edit_task_path(@task)} Edit
      %span
      |
      %a{:href=>tasks_path} Home
