.main
  .container
    %h1#edit-header=@task[:description]
    %a.pull-right.btn.btn-primary{:href=>edit_task_path(@task)} Edit
    -if notice
      %p.alert.alert-success= notice
    %ol.breadcrumb
      %li
        %a{:href=>tasks_path} Home
      %li=@task[:description]
