/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

.brand {
  color: white;
  margin-top:0px;
  padding: 2px;
}

.main{
  margin-top: 75px;
  margin-bottom: 75px;
}

.foot{
  padding-top: 9px;
  margin: 0px 0 0;
  border-top: 1px solid #eeeeee;
  // display: inline-block;
}

.footer{
  padding-bottom: 10px;
  background-color: white;
}

.right img{
  // border: 5px solid black;
  display: inline-block;
  height: 25px;
}

.right{
  // display: inline-block;
  float:right;
}

a:hover{
  text-decoration: none;
}

body { padding-bottom: 70px; }

.quote {
  margin-bottom: 25px;
}
// 
// #home-pic-1{
//   background-image: url('pic-2.jpg');
//   background-size: cover;
//   height: 250px;
//   padding: 10px;
//   margin: 10px;
// }
// 
// #home-pic-2{
//   background-image: url('pic-1.jpg');
//   background-size: cover;
//   height: 250px;
//   padding: 10px;
//   margin: 10px;
// }
// 
// #home-pic-3{
//   background-image: url('pic-3.jpg');
//   background-size: cover;
//   height: 250px;
//   padding: 10px;
//   margin: 10px;
// }